.campus{
    padding: 2rem 10rem;
    line-height: 1.5rem;
    text-align: justify;
}
.campus_images{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.campus_images img{
    width: 20rem;
    flex: 1 1 30rem;
    margin-block: 2rem;
}


@media screen and (max-width:1000px){
    .campus{
        padding: 2rem 3rem;
    }
    
}

.contact {
    padding: 20px;
}
.contact >*{
    margin: 50px;
}
.contact .heads p{
    margin: 30px;
}
.contact h2{
    margin: 0 0 20px 0;
    position: relative;
}
.contact h2:after{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 40px;
    height: 3px;
    background: #0D47A1;

}
@media screen and (max-width:500px){
    .contact {
        padding: 10px;
    }
    .contact >*{
        margin: 25px;
    }
}



