.campus{
    padding: 2rem 10rem;
    line-height: 1.5rem;
    text-align: justify;
}
.campus_images{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.campus_images img{
    width: 20rem;
    flex: 1 1 30rem;
    margin-block: 2rem;
    aspect-ratio: 25/12;
    object-fit: cover;
}


@media screen and (max-width:1000px){
    .campus{
        padding: 2rem 3rem;
    }
    
}