.campus{
    padding: 2rem 10rem;
    line-height: 1.5rem;
}
.campus_images{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
}
.campus_images img{
    width: 30rem;
    flex: 1 1 30rem;
    margin: 1rem;
}