@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
:root{
    --theme-1:#0D47A1;
    --theme-2:#FFEB3B;
    --white:#fff;

    --grayscale-900:#212121;
    --grayscale-800:#37474F;
    --grayscale-700:#455A64;
    --grayscale-600:#546E7A;
    --grayscale-500:#607D8B;
    --grayscale-400:#78909C;
    --grayscale-300:#90A4AE;
    --grayscale-200:#B0BEC5;
    --grayscale-100:#CFD8DC;
    --grayscale-50:#ECEFF1;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;
}
.header{
    box-shadow: 0 0 10px var(--grayscale-100);
}








.pre-nav{
    display: flex;
    align-items: center;
    width: 100%;
    padding-block:20px ;
    border-bottom: 2px solid var(--grayscale-50);
}
.pre-nav .logo{
    margin: 0 0 0 40px;
}
.pre-nav .logo-name{
    font-weight: 700;
    margin:0 20px;
    font-size: 1.3rem;
}
.pre-nav .logo-name p{
    font-size: .8rem;
}
.pre-nav .details-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    margin: 0 40px 0 auto;
}
.pre-nav .details-list .list-el{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pre-nav .details-list .list-el .icon span{
    font-size: 2.2rem;
    color: var(--theme-1);
    user-select: none;  
    
}
.pre-nav .details-list .list-el .icon {
    margin-right: 10px;
}
.pre-nav .details-list .list-el .detail-name{
    font-weight: 700;
    color: var(--grayscale-800);
    margin-bottom: 5px;
    user-select: none;
}
.pre-nav .details-list .list-el .detail-value{
    color: var(--grayscale-600);
    font-size: 0.9rem;
}
.menu-btn{
    display: none;
}




.navbar{
    display: flex;
    gap: 1.2rem;
    flex-wrap: wrap;
    padding: 1rem;    
    /* background: #00006A; */
    
    color: #f0f0f0;
    
}
.navbar .nav-item{
    border:2px solid white;
    height: 40px;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    color: #00006A;
    white-space: nowrap;
}
.navbar .nav-item a{
    color: #00006A;

}
.navbar .nav-item span{
    margin: 0 8px 0 8px ;

}
.navbar .nav-item:after{
    content: "";
    position: absolute;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform-origin: center;
    transform: translateX(-50%);
    width: 0%;
    height: 3px;
    background: var(--theme-1);
    bottom: 0;
    left: 50%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.navbar .nav-item:hover:after{
    width: 100%;
    
}
.navbar .nav-item:hover .dropdown{
    /* display: block; */
    opacity: 1;
    transform: translateY(0px);
    pointer-events: all;

}
.navbar .dropdown:hover{
    /* display: block; */
    opacity: 1;
    transform: translateY(0px);
    pointer-events: all;
}
.navbar .dropdown{
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    pointer-events: none;
    opacity: 0;
    transform: translateY(-20px);
    position: absolute;
    top: 39px;
    background-color: rgb(255, 255, 255);
    width: max-content;
    /* width: 100%; */
    z-index: 2;
    box-shadow:  0 0 5px rgba(0, 0, 0, 0.23);
    list-style: none;
}
.navbar .dropdown .dropdown-item a{
    padding: 1rem;
    display: block;
}
.navbar .dropdown .dropdown-item:hover{
    background:var(--grayscale-100);
}







.navbar-responsive summary{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--theme-1);
    position: relative;
    height: 40px;
    padding-inline: 40px;
}
.navbar-responsive summary:hover{
    background: var(--grayscale-100);
}
.navbar-responsive summary::after {
  content: "+";
  display: block;
}
.navbar-responsive .nav-item >a{
    color: var(--theme-1);
    position: relative;
    display: flex;
    align-items: center;
    height: 40px;
    padding-inline: 40px;
}
.navbar-responsive .nav-item:hover{
    background: var(--grayscale-100);
}
.navbar-responsive .nav-item>a:before{
    content: "";
    position: absolute;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform-origin: center;
    transform: translateX(-50%);
    width: 100%;
    height: 0px;
    background: var(--theme-1);
    bottom: 0;
    left: 50%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.navbar-responsive .nav-item>a:hover:before{
    height: 3px;
}
.navbar-responsive details[open] summary:after {
    content: "-";
}
.navbar-responsive details[open] summary {
    background: var(--grayscale-100);
}
.navbar-responsive details[open] summary::before {
    height: 3px;
}
.navbar-responsive summary:before{
    content: "";
    position: absolute;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform-origin: center;
    transform: translateX(-50%);
    width: 100%;
    height: 0px;
    background: var(--theme-1);
    bottom: 0;
    left: 50%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.navbar-responsive summary:hover:before{
    height: 3px;
}
.navbar-responsive .dropdown{
    padding-left: 50px;
}
.navbar-responsive .dropdown li{
    /* display: flex; */
    list-style: none;
    align-items: center;
}
.navbar-responsive .dropdown li a:before{
    content: "-";
    padding-right: 4px;
}
.navbar-responsive .dropdown li a {
    display: flex;
    align-items: center;
    height: 30px;
}
.navbar-responsive .dropdown li a:hover {
    background: var(--grayscale-100);
}

.navbar-responsive{
    display: none ;
}
.open.navbar-responsive{
    display: unset ;
}
@media screen and (max-width:1000px){
    .navbar{
        display: none;
    }
    .pre-nav .details-list{
        display: none !important;
    }
    .menu-btn{
        display: block;
        margin:0 40px 0 auto;
        padding: 8px 12px;
        border-radius: 2px;
        cursor: pointer;
    }
    .menu-btn:hover{
        background: var(--grayscale-50);
    }
    .menu-btn:active{
        background: var(--grayscale-100);
    }
    .navbar-responsive .details-list{
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
        margin: 0 0 0 40px;
        padding-block: 20px;
    }
    .navbar-responsive .details-list .list-el{
        display: flex;
        align-items: start;
        justify-content: center;
    }
    .navbar-responsive .details-list .list-el .icon span{
        font-size: 2.0rem;
        color: var(--theme-1);
        user-select: none;  
        
    }
    .navbar-responsive .details-list .list-el .icon {
        margin-right: 10px;
    }
    .navbar-responsive .details-list .list-el .detail-name{
        font-weight: 700;
        color: var(--grayscale-800);
        margin-bottom: 5px;
        user-select: none;
    }
    .navbar-responsive .details-list .list-el .detail-value{
        color: var(--grayscale-600);
        font-size: 0.9rem;
    }
}
@media screen and (max-width:500px){
    .pre-nav .logo{
        margin: 0 0 0 20px;
    }
    .pre-nav .logo-name{
        font-weight: 700;
        margin:0 20px;
        font-size: 1rem;
    }
    .pre-nav .logo-name p{
        font-size: .6rem;
    }
    .menu-btn{
        margin:0 20px 0 auto;
    }
    .menu-btn:hover{
        background: unset;
    }
}






/* 

.carousel {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.active {
    opacity: 1;
    transform: translateX(0%);
}

.slide.previous {
    opacity: 0;
    transform: translateX(-100%);
    z-index: -1;
}

.slide.next {
    opacity: 0;
    transform: translateX(100%);
    z-index: -1;
}*/
.slide img{
    height: 100%;
    width: 100%;
    object-fit: cover;
} 

.carousel {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 1s ;
}


.breadcrumb{
    background: linear-gradient(90deg,var(--theme-1),transparent) , url("./public/images/breadcrumb.webp");
    min-height: 35vh;
    position: relative;
    background-size: cover;
}
.breadcrumb h1{
    position: absolute;
    left: 40px;
    bottom: 80px;   
    text-transform: capitalize;
    color: var(--white);
}
.breadcrumb div{
    position: absolute;
    left: 40px;
    bottom: 50px;   
    font-size: 1.2em;
    color: var(--white);
    text-transform: capitalize;
    display: flex;align-items: center;justify-content: center;
}
.breadcrumb div>span{
    margin: 0 10px;
}
.breadcrumb div a{
    display: flex;align-items: center;justify-content: center;
    color: var(--white);
}






.main{
    min-height: 70vh;
}











.footer{
    border-bottom: 8px solid var(--theme-1);
    padding: 1rem;
}
/* .footer *{
    border: 1px solid lime;
} */
.footer .top{
    padding-block: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.footer .top .logo-name{
    font-weight: 700;
    margin:0 20px;
    font-size: 1.3rem;
}
.footer .top .logo-name p{
    font-size: .8rem;
}

.footer .top .logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom:0;
}
.footer .top .quick-links{
    margin: 0 auto;
    border-bottom:0;
    padding-right: 1rem;
}
.footer .top .quick-links .list{
    display: flex;
    flex-direction: column;
    margin-right: 15px;
}
.footer .top .quick-links div a{
    text-decoration: none;
    color: var(--grayscale-700);
    margin: 5px 0 0 0;
}
.footer .top .quick-links>div a:hover{
    color: var(--grayscale-900);
    text-decoration: underline;
}

.footer .top .quick-links p{  
    font-weight: 700;
    font-size: 1.2rem;
    position: relative;
    margin: 5px 0 10px 0;
    
}
.footer .top .quick-links>p:after{
    content: "";
    width: 30px;
    height: 2px;
    background: var(--theme-1);
    position: absolute;
    bottom: -5px;
    left: 0;
}
.footer .top .address div:nth-child(2){
    padding: 0 0 10px 0;  
    font-weight: 700;
}
 .footer .top .address{
     line-height: 1.5rem;
 }
.footer .top .address p{  
    font-weight: 700;
    font-size: 1.2rem;
    position: relative;
    margin: 0 0 15px 0;
    
}
.footer .top .address>p:after{
    content: "";
    width: 30px;
    height: 2px;
    background: var(--theme-1);
    position: absolute;
    bottom: -5px;
    left: 0;
}

.footer .bottom{
    display: flex;
    align-items: center;    
    justify-content: space-between;
    align-items: center;
    padding-block: 32px;
    border-top: 1px solid var(--grayscale-300);
    
}
.footer .bottom .logo{
    margin: 0 0 0 40px;
}
.footer .bottom .copyright{
    margin: 0 40px 0 0;
    margin: 0 auto;
    font-size: 1.2em;

}
@media screen and (max-width:1000px){

    .footer .top{
        gap: 1rem;
        padding: 1rem;
    }
    .footer .top .logo-container{
        display: flex;
        justify-content:start;
        width: 100%;
        border-right: 0;
        border-bottom:1px solid var(--grayscale-50);
        padding-bottom: 15px;
    }
    .footer .top .quick-links{
        margin: 0 auto;
        width: 100%;
        border-right: 0;
        border-bottom:1px solid var(--grayscale-50);
        padding-bottom: 15px;
    }
    .footer .top .address{
        width: 100%;
    } 

    
}



.goToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  width: 60px;
  height: 60px;
  background-color: var(--grayscale-500);
  color: #fff;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.3s;
}

.goToTopBtn:hover {
  opacity: 1;
}