.about_trust{
    padding: 2rem 10rem;
}
.flex_container{
    display: flex;
    padding: 2rem;
    align-items: start;
    gap: 5rem;
    flex-wrap: wrap;
}

.flex_container img{
    width: 100%;
    margin-top: 3rem;
}
.flex_container .content{
    flex:1 1 30rem;
}
.flex_container .img{
    flex:1 1 20rem;
    
}
.flex_container>img{
    
}
.flex_container .content h2{
    font-size: 1.4rem;
    line-height: 2.5rem;
    margin-bottom: 10px;
}
.flex_container .content p{
    text-align: justify;
    line-height: 1.4rem;
    margin-bottom: 10px;
}
.img.small img{
    width: 200px;
    margin-top: 1rem;
}
.college_list{
    padding: 3rem;
}
.college_list li{
    margin-bottom: 5px;
    text-transform: uppercase;
}
.mission_list{
    padding:0rem 1rem;
}
.mission_list li{
    margin-bottom: 5px;
}


@media screen and (max-width:1000px){
    .about_trust{
        padding: 2rem 3rem;
    }
    
}