.courses_offered{
    padding: 2rem 10rem;
    text-align: left;
    overflow-x: hidden;
}
.available_courses p{
    margin-bottom: 10px;
}
.courses_offered table , hr,th,td{
    border: 2px solid rgb(214, 214, 214);
    border-collapse: collapse;
    padding: 10px;
}

.courses_offered table{
    margin-bottom: 1rem;
}

.courses_offered .table_container{
    overflow-x: auto;
}
.table_container h2{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
@media screen and (max-width:1000px){
    .courses_offered{
        padding: 2rem 3rem;
    }
}


.committees{
    padding: 20px 50px;

}
.committees ul li{
    list-style: none;
    margin: 8px;
    font-size: 1.1rem;
}
.rti {
    margin: 20px 50px;
}

.rti>div{
    margin: 10px 20px;
    font-size: 1.1rem;
}
.rti>a{
    display: block;
    margin: 30px 0;
}

.rti h2{
    margin: 0 0 20px 0;
    position: relative;
}
.rti h2:after{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 30px;
    height: 3px;
    background: #0D47A1;

}



