.courses_offered{
    padding: 2rem 10rem;
    text-align: left;
    overflow-x: hidden;
}
.available_courses p{
    margin-bottom: 10px;
}
.courses_offered table , hr,th,td{
    border: 2px solid rgb(214, 214, 214);
    border-collapse: collapse;
    padding: 10px;
}

.courses_offered table{
    margin-bottom: 1rem;
}

.courses_offered .table_container{
    overflow-x: auto;
}
.table_container h2{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
@media screen and (max-width:1000px){
    .courses_offered{
        padding: 2rem 3rem;
    }
}










/* go to top button */
.goToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    width: 60px;
    height: 60px;
    background-color: var(--grayscale-500);
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.3s;
}
  
.goToTopBtn:hover {
    opacity: 1;
}